{% extends 'base.html' %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block content %}

<div>
    <form method="POST">
        {% csrf_token %}
        <div>
            <p>
                <label for="title">Review Heading</label>
                <input type="text" name="title" id="title">
            </p>
        </div>
        <div>
            <p>
                <label for="content">Review Body</label>
                <input type="textarea" name="content" id="content">
            </p>
        </div>
        <div>
            <button type="submit">Sumbit Review</button>
        </div>
    </form>
</div>


{% endblock content %}