{% extends 'base.html' %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block content %}
<section class="container columns mx-auto">
    <div class="column is-one-third mx-auto">
        <h3 class="title is-size-3">Edit Your Review</h3>
        <form method="POST" action="">
            {% csrf_token %}
            {{ form|crispy }}
            <!-- <div>
                <p>
                    <label for="title">Review Heading</label>
                    <input type="text" name="title" id="title">
                </p>
            </div>
            <div>
                <p>
                    <label for="content">Review Body</label>
                    <textarea type="textarea" rows="4" cols="50" name="content" id="content"></textarea>

                </p>
            </div> -->
            <div>
                <button type="submit">Update Review</button>
            </div>
        </form>
    </div>
</section>


{% endblock content %}