{% extends 'base.html' %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block content %}

<section class="container columns mx-auto">
    <div class="column is-one-third mx-auto">
        <h3 class="title is-size-3">Edit Your Review</h3>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}

            <div>
                <a type="submit" class="button is-primary mb-4">Update Review</a>
                <a href="{% url 'get_review_list' %}" class="button is-danger mb-4">Cancel</a>
            </div>
        </form>
    </div>
</section>

{% endblock content %}