{% extends 'base.html' %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block content %}


<section class="section">
    <div class="container">
        <div class="has-text-centered mb-3">
            <h3 class="is-size-3">Reviews</h3>
            {% if user.is_authenticated %}
            <a href="{% url 'add_review' %}" class="is-size-7 button is-info">Add a review</a>
            {% endif %}
        </div>
        <div class="columns is-multiline">
            {% for review in review_list %}
            <div class="column is-one-third is-flex-direction-column">
                <div class="card notification not-1">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">{{ review.title }}</p>
                                <p class="subtitle is-6">By: {{ review.author }}</p>
                            </div>
                        </div>
                        <div class="content">
                            <p>{{ review.content }}</p>
                        </div>
                        <div>
                            <time class="subtitle is-size-6" datetime="{{ review.created|date:'Y-m-d' }}">
                                {% if review.created|date:"U" == review.updated|date:"U" %}
                                Created: {{ review.created|date:"F d, Y @ H:m" }}
                                {% else %}
                                Updated: {{ review.updated|date:"F d, Y @ H:m" }}
                                {% endif %}
                            </time>
                            {% if request.user == review.author %}
                            <div class="has-text-link mt-2">
                                <a href="{% url 'edit_review' review.id %}" class="button is-primary is-outlined">Edit</a>
                                <a href="#" class="button is-danger is-outlined" data-bs-toggle="modal" data-bs-target="#modal-delete-{{ review.id }}">Delete</a>
                                <div class="modal fade" id="modal-delete-{{ review.id }}" tabindex="-1"
                                    aria-labelledby="modal-delete-label-{{ review.id }}" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h2 class="modal-title fs-5 has-text-grey-dark" id="modal-delete-label-{{ review.id }}">Delete Review</h2>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body has-text-grey-dark">
                                                Are you sure you want to delete your review?
                                                <br>
                                                <small>This action is permanent</small>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="button is-primary is-outlined"
                                                    data-bs-dismiss="modal">Cancel</button>
                                                <a href="{% url 'delete_review' review.id %}" class="button is-danger is-outlined">Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

{% endblock content %}