{% extends 'base.html' %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block content %}


<section class="container">
    <div class="columns is-multiline">
        {% for review in review_list %}
        <div class="notification column is-one-third">
            <div>
                <div>
                    <h2>{{ review.title }}</h2>
                    <p>By: {{ review.author }}</p>
                    <h2>{{ review.content }}</h2>

                    {% if review.created == review.updated %}
                    <p>Created: {{ review.created }}</p>
                    {% else %}
                    <p>Updated: {{ review.updated }}</p>
                    {% endif %}
                </div>
                {% if user.is_authenticated %}
                <div>
                    <a href="/edit/{{ review.id }}">Edit</a>
                    <a href="/delete/{{ review.id }}">Delete</a>
                </div>
                {% endif %}
            </div>
        </div>
        <div></div>
        {% if forloop.counter|divisibleby:3 %}
        {% endif %}
        {% endfor %}
    </div>
    <div>
        {% if user.is_authenticated %}
        <a href="{% url 'add_review' %}">Add a review</a>
        {% endif %}
    </div>
</section>

{% endblock content %}