{% extends 'base.html' %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block content %}


<section class="container">
<div>
    <h3 class="title is-size-3 has-text-centered mb-3">Reviews</h3>
</div>
    <div class="columns is-multiline">
        {% for review in review_list %}
        <div class="column is-one-third">
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">{{ review.title }}</p>
                            <p class="subtitle is-6">By: {{ review.author }}</p>
                        </div>
                    </div>
                    <div class="content">
                        {{ review.content }}
                        <br class="mb-4">
                        <time class="subtitle is-size-6">
                            {% if review.created == review.updated %}
                            <p>Created: {{ review.created }}</p>
                            {% else %}
                            <p>Updated: {{ review.updated }}</p>
                            {% endif %}
                        </time>
                        {% if user.is_authenticated %}
                        <!-- {% if request.user == comment.user %} -->
                        
                        <div>
                            <a href="/edit/{{ review.id }}">Edit</a> |
                            <a href="/delete/{{ review.id }}">Delete</a>
                        </div>
                        {% endif %}
                        <!-- {% endif %} -->
                    </div>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
        {% endif %}
        {% endfor %}
    </div>
    <div>
        {% if user.is_authenticated %}
        <a href="{% url 'add_review' %}">Add a review</a>
        {% endif %}
    </div>
</section>

{% endblock content %}