{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="section has-background-warning mx-auto">
    <div class="columns is-flex-direction-column">
        <div class="column is-one-fifth mx-auto" style="border-style: solid solid none solid;">
            <h3 class="title is-3">{% trans "Taste Your Future" %}</h3>

            <p class="subtitle is-5">{% blocktrans %}If you are new, please <a class="" href="{{ signup_url }}">sign
                    up</a>
                first.{% endblocktrans %}</p>
        </div>
        <div class="column is-one-fifth mx-auto" style="border-style: none solid solid solid;">
            <form class="" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form|crispy }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="button is-medium is-rounded is-danger" type="submit">{% trans "Log In" %}</button>
                <p><a class="" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a></p>
            </form>
        </div>
    </div>
</div>

{% endblock %}