{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}


<div class="section has-background-warning mx-auto">
    <div class="columns is-flex-direction-column">
        <div class="column is-one-fifth mx-auto" style="border-style: solid solid none solid;">
            <h3 class="title is-3">{% trans "Password Reset" %}</h3>
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <p class="subtitle is-5">
                {% trans "Forgotten your password? Enter your email and we'll send you a reset link." %}</p>
        </div>
        <div class="column is-one-fifth mx-auto" style="border-style: none solid solid solid;">
            <form class="" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="button is-medium is-rounded is-danger" type="submit"
                    value="{% trans 'Reset My Password' %}" />
            </form>
        </div>
    </div>
</div>


{% endblock %}