{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sound Burger</title>
</head>
<body>
    <header class="header">
        <h1><a class="title" href="{% url 'home' %}">Sound Burger</a></h1>
        <nav class="nav">
            <ul class="nav-list">
                <li class="nav-item"><a class="nav-link current-page" href="{% url 'home' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'get_menu_list' %}">Menu</a></li>
                <!-- <li class="nav-item"><a class="nav-link nav-last" href="order.html">Order</a></li> -->
            </ul>
        </nav>
    </header>
    <main>
        <h1>Hellos</h1>

        <footer class="footer">
            <ul class="social-links">
                <li class="social-link"><a class="social-linka" href="https://instagram.com" target="_blank"
                        rel="noopener noreferrer nofollow" aria-label="Follow us on Instagram (opens in a new tab)"><i
                            class="fa-brands fa-instagram"></i></a></li>
                <li class="social-link"><a class="social-linka" href="https://facebook.com" target="_blank"
                        rel="noopener noreferrer nofollow" aria-label="Follow us on Facebook (opens in a new tab)"><i
                            class="fa-brands fa-facebook"></i></a></li>
                <li class="social-link"><a class="social-linka" href="https://twitter.com" target="_blank"
                        rel="noopener noreferrer nofollow" aria-label="Follow us on Twitter (opens in a new tab)"><i
                            class="fa-brands fa-twitter"></i></a></li>
                <li class="social-link"><a class="social-linka" href="https://www.tiktok.com" target="_blank"
                        rel="noopener noreferrer nofollow" aria-label="Follow us on TikTok (opens in a new tab)"><i
                            class="fa-brands fa-tiktok"></i></a></li>
            </ul>
            <p class="credit">Developed by<a class="credit-link" href="https://github.com/ogc1231" target="_blank"
                    rel="noopener noreferrer nofollow"> Oliver Craigie</a> 2023</p>
        </footer>
    </main>
</body>
</html>