@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@600&family=Lato&display=swap');

body {
    font-family: 'lato', cursive;
}

h1, h2, h3, h4, button {
    font-family: 'Baloo Tamma 2', cursive;
}

.notification {
    border: 2px solid black;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}