{% extends 'base.html' %}

{% block content %}

<section class="columns">
    <div class="container column is-one-third">
        <a class="button" type="button" href="{% url 'get_menu_list' %}">Continue Shopping</a>
        <label class="label">Order Basket</label>
        <table class="table">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>
            {% for item in items %}
            <tbody>
                <tr>
                    <th>{{ item.product.name }}</th>
                    <th>€{{ item.product.price|floatformat:2 }}</th>
                    <th>{{ item.quantity }}</th>
                    <th>€{{ item.get_total|floatformat:2 }}</th>
                    <th>
                        <a href="{% url 'delete_item' item.product.id %}" class="btn btn-danger icon">
                            <i class="bi bi-trash"></i>
                        </a>
                    </th>
                </tr>
            </tbody>
            {% endfor %}
            <tfoot>
                <tr>
                    <th>Items: {{ order.get_cart_items }}</th>
                    <th></th>
                    <th></th>
                    <th>€{{ order.get_cart_total|floatformat:2 }}</th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
        <a class="button" type="button" href="{% url 'checkout' %}">Checkout</a>
    </div>
</section>





{% endblock content %}

