{% extends 'base.html' %}

{% block content %}

<section class="section">
    <div class="container has-text-centered">
        <h3 class="is-size-3">Order Basket</h3>
        <div class="columns">
            <div class="container column is-half">
                {% if items|length > 0 %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    {% for item in items %}
                    <tbody>
                        <tr>
                            <th>{{ item.product.name }}</th>
                            <th>€{{ item.product.price|floatformat:2 }}</th>
                            <th>{{ item.quantity }}</th>
                            <th>€{{ item.get_total|floatformat:2 }}</th>
                            <th>
                                <a href="{% url 'delete_item' item.product.id %}" class="btn btn-danger icon">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </th>
                        </tr>
                    </tbody>
                    {% endfor %}
                    <tfoot>
                        <tr>
                            <th>Items: {{ order.get_cart_items }}</th>
                            <th></th>
                            <th></th>
                            <th>€{{ order.get_cart_total|floatformat:2 }}</th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
                <div>
                    <a class="button is-primary mb-3" href="{% url 'checkout' %}">Checkout</a>
                </div>
                <div>
                    <a class="button is-info" href="{% url 'get_menu_list' %}">Continue Shopping</a>
                </div>
                {% else %}
                You currently have no items in your cart.
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock content %}