{% extends 'base.html' %}

{% block content %}

<section class="section">
    <div class="container">
        <h3 class="is-size-3 has-text-centered mb-6">Checkout</h3>
        <div class="columns is-multiline">

            <form action="{% url 'checkout' %}" class="container column is-half" method="POST">
                {% csrf_token %}
                <label class="label is-size-5">Shipping Address</label>
                <div class="columns is-multiline mb-0">
                    <div class="field column mb-0">
                        <label class="label" for="name">Name</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="James Burke" id="name" name="name" required>
                        </div>
                    </div>

                    <div class="field column">
                        <label class="label" for="email">Email</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input is-danger" type="email" id="email" name="email"
                                placeholder="james@burke.com" required>
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label class="label" for="address1">Address line 1</label>
                    <input type="text" class="input" name="address1" id="address1" required>
                </div>

                <div class="field">
                    <label class="label" for="address2">Address line 2</label>
                    <input type="text" class="input" name="address2" id="address2">
                </div>

                <div class="columns is-multiline">
                    <div class="column">
                        <label class="label" for="district">District</label>
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <div class="select is-fullwidth">
                                    <select name="district" id="district" required>
                                        <option value="" selected disabled>Choose District</option>
                                        <option value="Dublin 1">Dublin 1</option>
                                        <option value="Dublin 2">Dublin 2</option>
                                        <option value="Dublin 3">Dublin 3</option>
                                        <option value="Dublin 4">Dublin 4</option>
                                        <option value="Dublin 5">Dublin 5</option>
                                        <option value="Dublin 6">Dublin 6</option>
                                        <option value="Dublin 6 West">Dublin 6 West</option>
                                        <option value="Dublin 7">Dublin 7</option>
                                        <option value="Dublin 8">Dublin 8</option>
                                        <option value="Dublin 9">Dublin 9</option>
                                        <option value="Dublin 10">Dublin 10</option>
                                        <option value="Dublin 11">Dublin 11</option>
                                        <option value="Dublin 12">Dublin 12</option>
                                        <option value="Dublin 13">Dublin 13</option>
                                        <option value="Dublin 14">Dublin 14</option>
                                        <option value="Dublin 15">Dublin 15</option>
                                        <option value="Dublin 16">Dublin 16</option>
                                        <option value="Dublin 17">Dublin 17</option>
                                        <option value="Dublin 18">Dublin 18</option>
                                        <option value="Dublin 20">Dublin 20</option>
                                        <option value="Dublin 22">Dublin 22</option>
                                        <option value="Dublin 24">Dublin 24</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column">
                        <label class="label" for="postcode">Eircode/Postcode</label>
                        <input type="text" class="input" name="postcode" id="postcode" required>
                    </div>
                </div>

                <div class="field">
                    <div class="control mb-3">
                        <button class="button is-primary" type="submit">Confirm Order</button>
                    </div>
                    <div>
                        <a class="control button is-info" type="button" href="{% url 'cart' %}">Return to cart</a>
                    </div>
                </div>
            </form>
        </div>

        <div class="container column is-half">
            <label class="label is-size-5">Order Summary</label>

            <table class="table">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                    </tr>
                </thead>
                {% for item in items %}
                <tbody>
                    <tr>
                        <th>{{ item.product.name }}</th>
                        <th>€{{ item.product.price|floatformat:2 }}</th>
                        <th>{{ item.quantity }}</th>
                        <th>€{{ item.get_total|floatformat:2 }}</th>
                    </tr>
                </tbody>
                {% endfor %}
                <tfoot>
                    <tr>
                        <th>Items: {{ order.get_cart_items }}</th>
                        <th></th>
                        <th></th>
                        <th>€{{ order.get_cart_total|floatformat:2 }}</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</section>

{% endblock content %}