{% extends 'base.html' %}

{% block content %}

<section >
    <div class="container">
        <div class="columns is-multiline">
            <form action="" class="container column is-half">

                <div class="columns is-multiline">
                    <div class="field column">
                        <label class="label">Name</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="James Burke">
                        </div>
                    </div>

                    <div class="field column">
                        <label class="label">Email</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input is-danger" type="email" placeholder="james@burke.com">
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Address line 1</label>
                    <input type="text" class="input" name="address1">
                </div>

                <div class="field">
                    <label class="label">Address line 2</label>
                    <input type="text" class="input" name="address2">
                </div>

                <div class="columns is-multiline">
                    <div class="column">
                        <label class="label">District</label>
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <div class="select is-fullwidth">
                                    <select name="country">
                                        <option value="Dublin 1">Dublin 1</option>
                                        <option value="Dublin 2">Dublin 2</option>
                                        <option value="Dublin 3">Dublin 3</option>
                                        <option value="Dublin 4">Dublin 4</option>
                                        <option value="Dublin 5">Dublin 5</option>
                                        <option value="Dublin 6">Dublin 6</option>
                                        <option value="Dublin 6 West">Dublin 6 West</option>
                                        <option value="Dublin 7">Dublin 7</option>
                                        <option value="Dublin 8">Dublin 8</option>
                                        <option value="Dublin 9">Dublin 9</option>
                                        <option value="Dublin 10">Dublin 10</option>
                                        <option value="Dublin 11">Dublin 11</option>
                                        <option value="Dublin 12">Dublin 12</option>
                                        <option value="Dublin 13">Dublin 13</option>
                                        <option value="Dublin 14">Dublin 14</option>
                                        <option value="Dublin 15">Dublin 15</option>
                                        <option value="Dublin 16">Dublin 16</option>
                                        <option value="Dublin 17">Dublin 17</option>
                                        <option value="Dublin 18">Dublin 18</option>
                                        <option value="Dublin 20">Dublin 20</option>
                                        <option value="Dublin 22">Dublin 22</option>
                                        <option value="Dublin 24">Dublin 24</option>
                                        <option value="Dublin 1">Dublin 1</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column">
                        <label class="label">Eircode/Postcode</label>
                        <input type="text" class="input" name="postcode">
                    </div>
                </div>
                
                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-link">Confirm Order</button>
                    </div>
            </form>
        </div>

        <div class="container column is-half">
            <h2>Checkout</h2>
            <h3>Order Summary</h3>
            
            <table class="table">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                    </tr>
                </thead>
                {% for item in items %}
                <tbody>
                    <tr>
                        <th>{{ item.product.name }}</th>
                        <th>€{{ item.product.price|floatformat:2 }}</th>
                        <th><button class="button">-</button>{{ item.quantity }}<button class="button">+</button></th>
                        <th>€{{ item.get_total|floatformat:2 }}</th>
                    </tr>
                </tbody>
                {% endfor %}
            </table>


            <div>Items: {{ order.get_cart_items }}</div>
            <div>Total: {{ order.get_cart_total|floatformat:2 }}</div>
            <a class="button" type="button" href="{% url 'cart' %}">Return to cart</a>
        </div>
    </div>
</section>
{% endblock content %}