<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sound Burger</title>
</head>
<body>
    <header class="header">
        <h1><a class="title" href="index.html">Sound Burger</a></h1>
        <nav class="nav">
            <ul class="nav-list">
                <li class="nav-item"><a class="nav-link current-page" href="index.html">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'get_menu_list' %}">Menu</a></li>
                <!-- <li class="nav-item"><a class="nav-link nav-last" href="order.html">Order</a></li> -->
            </ul>
        </nav>
    </header>

    <h2>Menu</h2>
    <div>
        <h3>Burgers</h3>
        <table>
            {% for burger in burgers %}
            <tr>
                <td>{{ burger.name }}</td>
                <td>{{ burger.price }}</td>
                <td><input type="checkbox"></td>
            </tr>
            {% endfor %}
        </table>
        
    </div>
    <div>
        <h3>Sides</h3>
        <table>
            {% for side in sides %}
            <tr>
                <td>{{ side.name }}</td>
                <td>{{ side.price }}</td>
                <td><input type="checkbox"></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div>
        <h3>Drinks</h3>
        <table>
            {% for drink in drinks %}
            <tr>
                <td>{{ drink.name }}</td>
                <td>{{ drink.price }}</td>
                <td><input type="checkbox"></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>