<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sound Burger</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    </script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
</head>
<body>
    <header class="header">
        <h1><a class="title" href="{% url 'home' %}">Sound Burger</a></h1>
        <nav class="nav">
            <ul class="nav-list">
                <li class="nav-item"><a class="nav-link current-page" href="{% url 'home' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'get_menu_list' %}">Menu</a></li>
                <!-- <li class="nav-item"><a class="nav-link nav-last" href="order.html">Order</a></li> -->
            </ul>
        </nav>
    </header>
    <main>
        <h2>Menu</h2>
        <div>
            <h3>Burgers</h3>
            <table>
                {% for burger in burgers %}
                <tr>
                    <td>{{ burger.name }}</td>
                    <td>{{ burger.price }}</td>
                    <td><input type="checkbox"></td>
                </tr>
                {% endfor %}
            </table>
            
        </div>
        <div>
            <h3>Sides</h3>
            <table>
                {% for side in sides %}
                <tr>
                    <td>{{ side.name }}</td>
                    <td>{{ side.price }}</td>
                    <td><input type="checkbox"></td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div>
            <h3>Drinks</h3>
            <table>
                {% for drink in drinks %}
                <tr>
                    <td>{{ drink.name }}</td>
                    <td>{{ drink.price }}</td>
                    <td><input type="checkbox"></td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <footer class="footer">
            <ul class="social-links">
                <li class="social-link"><a class="social-linka" href="https://instagram.com" target="_blank"
                        rel="noopener noreferrer nofollow" aria-label="Follow us on Instagram (opens in a new tab)"><i
                            class="fa-brands fa-instagram"></i></a></li>
                <li class="social-link"><a class="social-linka" href="https://facebook.com" target="_blank"
                        rel="noopener noreferrer nofollow" aria-label="Follow us on Facebook (opens in a new tab)"><i
                            class="fa-brands fa-facebook"></i></a></li>
                <li class="social-link"><a class="social-linka" href="https://twitter.com" target="_blank"
                        rel="noopener noreferrer nofollow" aria-label="Follow us on Twitter (opens in a new tab)"><i
                            class="fa-brands fa-twitter"></i></a></li>
                <li class="social-link"><a class="social-linka" href="https://www.tiktok.com" target="_blank"
                        rel="noopener noreferrer nofollow" aria-label="Follow us on TikTok (opens in a new tab)"><i
                            class="fa-brands fa-tiktok"></i></a></li>
            </ul>
            <p class="credit">Developed by<a class="credit-link" href="https://github.com/ogc1231" target="_blank"
                    rel="noopener noreferrer nofollow"> Oliver Craigie</a> 2023</p>
        </footer>
    </main>
</body>
</html>